@media (max-width: 960px) {
  .imageContainer {
    display: none;
  }
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px !important;
  padding-bottom: 20px !important;
}

.imageContainer {
  height: 100%;
  padding: 1rem;
  position: relative;
}

/* .logoimage {
  margin-bottom: 30px;
} */
.image {
  height: 100%;
  width: 100%;
}
.imageText1 {
  position: absolute;
  bottom: 100px;
  left: 30px;
  color: white;
}
.imageText {
  position: absolute;
  bottom: 60px;
  left: 30px;
  color: white;
}

.register {
  font-weight: bold !important;
  color: rgb(253, 85, 85) !important;
  text-decoration: none !important;
  margin-left: 5px;
}

.bckChange {
  background: url("../../../../assets/images/login.png");
  background-size: cover;
  background-position: bottom;
}
.addBorder {
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  background-color: rgba(104, 104, 104, 0.042);
}
.formContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 !important;
}
